[Unit]
Description=Bettermyloxd Backend Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/bettermyloxd/backend
Environment="PATH=/opt/bettermyloxd/venv/bin"
ExecStart=/opt/bettermyloxd/venv/bin/uvicorn api:app --host 0.0.0.0 --port 8000 --ssl-keyfile /opt/ssl/private.key --ssl-certfile /opt/ssl/certificate.crt
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 