[Unit]
Description=Bettermyloxd Backend Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/bettermyloxd/backend
Environment="PATH=/home/ubuntu/bettermyloxd/venv/bin"
ExecStart=/home/ubuntu/bettermyloxd/venv/bin/uvicorn api:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 